<!DOCTYPE html>
<html data-ng-app="">
 <head>
 <title>Title</title>
 <meta charset="UTF-8" />
 <style media="screen"></style>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 </head>
 <body>
<div data-ng-init="customers = [{name:'Sibi', id:'70084'}, {name:'Chakkaravarthy', id:'70085'}, {name:'Ani', id:'70086'}]">
<h1>Customers</h1>

<input type="text" data-ng-model="userInput" /> 
<ul>
<li data-ng-repeat="customer in customers | orderBy:'name' | filter:userInput">{{  customer.name | uppercase }}</li>


</ul>
</div>
</body>

</html>
